/* Basic reset for styling consistency */
body, h1, h2, h3, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Darker background */
    color: #ccc; /* Lighter text for readability */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #007BFF; /* Cool blue */
    height: 60px; /* Approximately an inch on typical screens */
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; /* Ensures items are spaced out from each other */
    align-items: center;
    padding: 0 40px; /* Adds horizontal padding on both sides */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.logo-container {
    display: flex;
    justify-content: flex-start;
}

.online-counter {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: white; /* Making sure the text is visible on the blue background */
}

main.login-container {
    margin-top: 100px; /* Adjust for header height */
    text-align: center;
    width: 100%;
}

.login-form {
    background-color: #222; /* Darker form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for depth */
    width: 300px;
    margin: auto;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #444; /* Dark input fields for contrast */
    border: 1px solid #555; /* Subtle borders for inputs */
    color: #ddd; /* Light text color for inputs */
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Cool blue for buttons */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.login-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.signup-prompt {
    margin-top: 10px;
    color: #aaa; /* Light gray text for subtlety */
}

.signup-prompt a {
    color: #007BFF; /* Blue link color for contrast and emphasis */
    text-decoration: none;
}

.signup-prompt a:hover {
    color: #ffffff; /* White color on hover for links */
    text-decoration: underline; /* Underline to highlight active interaction */
}

.big-logo-placeholder {
    margin-bottom: 20px; /* Space between the logo and the login form */
    text-align: center; /* Centering the big logo placeholder */
}

.big-logo-placeholder img {
    width: 150px; /* Arbitrary size, adjust as necessary */
    height: auto;
}
